<!DOCTYPE html>
<html lang="en" ng-app="hemnetCommuterApp">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
  <!-- Leaflet -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
  <!-- Angular Simple Logger -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-simple-logger/0.1.7/angular-simple-logger.min.js"></script>
  <!-- Angular UI for Leaflet -->
  <script src="https://cdn.jsdelivr.net/npm/ui-leaflet@1.0.3/dist/ui-leaflet.min.js"></script>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <!-- FontAwesome -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <!-- Hemnet Commuter -->
  <link rel="stylesheet" href="styles.css">

  <script type="text/javascript">
    var app = angular.module("hemnetCommuterApp", ['ui-leaflet']);
    app.controller("hemnetCommuterController", [ '$scope', '$http', function($scope, $http) {

      // Variable defaults
      $scope.active_id = false;
      $scope.active_house = false;
      $scope.results = [];

      // Set up the map
      angular.extend($scope, {
        center: {},
        markers: {}
      });

      // Get the map markers
      $scope.updateMarkers = function() {
        // Get the house data from the database
        $http.get("api/houses.php").then(function(response) {
          $scope.results = response.data.results;

          // Make nice object of map markers
          var markers = {};
          angular.forEach($scope.results, function (house, key) {
            markers[house.house_id] = {
              house_id: house.house_id,
              lat: parseFloat(house.lat),
              lng: parseFloat(house.lng),
              message: '<h6><a href="'+house.url+'" target="_blank">'+house.streetAddress+'</a></h6><p><img src="'+house.front_image+'" style="width:100%"></p>'
            }
          });

          // Get new map bounds
          var l_bounds = L.latLngBounds(Object.values(markers));
          var bounds = {
            northEast: l_bounds._northEast,
            southWest: l_bounds._southWest,
          }

          // Update the map
          angular.extend($scope, {
            bounds: bounds,
            markers: markers
          });
        });
      };

      // Initialise the map with markers on load
      $scope.updateMarkers();

      // Leaflet marker clicked
      $scope.$on('leafletDirectiveMarker.click', function(event, args){
        // Get house details
        $scope.active_id = args.model.house_id;
        $scope.active_house = $scope.results[$scope.active_id];
        console.log($scope.active_house);
      });

      // Ratings button clicked
      $scope.save_rating = function(r_user_id, rating){
        // Deselect ratings
        if(rating == $scope.active_house.ratings[r_user_id].rating){
          rating = 'not_set';
        }

        // Build post data and send to API
        var post_data = {
          'house_id': $scope.active_id,
          'user_id': r_user_id,
          'rating': rating
        };
        $http.post("api/ratings.php", JSON.stringify(post_data)).then(function(response) {
          // Update the scope with the new rating
          $scope.active_house.ratings[r_user_id].rating = rating;
        });
      }

      // Comment updated
      $scope.save_comment = function(r_user_id){
        // Build post data and send to API
        var post_data = {
          'house_id': $scope.active_id,
          'user_id': r_user_id,
          'comment': $scope.active_house.comments[r_user_id].comment
        };
        $http.post("api/comments.php", JSON.stringify(post_data));
      }

      // Tag button clicked
      $scope.save_tag = function(tag_id){
        var selected = ! $scope.active_house.tags[tag_id].selected;

        // Build post data and send to API
        var post_data = {
          'house_id': $scope.active_id,
          'tag_id': tag_id,
          'selected': selected
        };
        $http.post("api/tags.php", JSON.stringify(post_data)).then(function(response) {
          // Update the scope with the new tag status
          $scope.active_house.tags[tag_id].selected = selected;
        });
      }

    }]);
  </script>
</head>
<body ng-controller="hemnetCommuterController" style="padding:0;">

<div class="row mr-0 h-100" style="position:relative;">
  <div class="col-md-9 pl-0 h-100 order-2">
      <leaflet bounds="bounds" lf-center="center" event-broadcast="events" markers="markers" style="position: absolute; top: 0; bottom: 0; width: 100%;"></leaflet>
  </div>
  <div class="col-md-3 pr-0 order-1 h-100 overflow-auto">
    <div class="container pt-3">
      <h1 class="h2">
        <img src="hemnet.svg" class="float-right" style="width: 40px; margin-top:-5px;">
        Hemnet Commuter
      </h1>
      <hr>
      <div class="row">
        <div class="col-6"><a href="#" class="btn btn-block btn-secondary"><i class="fa fa-filter mr-2"></i> Filters</a></div>
        <div class="col-6"><a href="update.php" class="btn btn-block btn-info"><i class="fa fa-refresh mr-2"></i> Update</a></div>
      </div>
      <hr>
      <p ng-show="active_id == false" class="text-muted">Click a house marker on the map to see more information here.</p>
      <div ng-hide="active_id == false" >
        <h3><a ng-href="{{active_house.url}}" target="_blank"><span ng-bind="active_house.streetAddress"></span> <i class="fa fa-external-link" aria-hidden="true"></i></a></h3>
        <h3>
          <span class="badge" ng-class="{'badge-success': active_house.price < 4000000, 'badge-primary': active_house.price > 4000000 && active_house.price < 5700000, 'badge-danger': active_house.price > 5700000}"><span ng-bind="active_house.price / 1000000 | number:3"></span> MKr</span>
          <span class="float-right small mt-2">
            <span class="badge" ng-class="{'badge-info': active_house.status == 'for_sale', 'badge-success': active_house.status == 'upcoming'}"  ng-bind="active_house.status.replace('_', ' ')" style="text-transform:capitalize;"></span>
            <span class="badge" ng-class="{'badge-secondary': active_house.bidding != 1, 'badge-warning': active_house.bidding == 1}" ng-bind="active_house.bidding == 1 ? 'Bidding now' : 'No bids'"></span>
          </span>
        </h3>
        <img ng-src="{{active_house.front_image}}" class="w-100 my-2">
        <table class="table table-sm small table-hover">
          <tr>
            <th>Location:</th>
            <td ng-bind="active_house.addressLocality"></td>
          </tr>
          <tr>
            <th>Published:</th>
            <td>
              <span ng-bind="active_house.publication_date"></span>
            </td>
          </tr>
          <tr>
            <th style="white-space: nowrap;">Upcoming visning:</th>
            <td>
              <span ng-bind="active_house.upcoming_open_houses == 1 ? 'Yes' : 'No'"></span>
            </td>
          </tr>
          <tr>
            <th>Size:</th>
            <td>
              <span ng-bind="(active_house.living_area * 1) + (active_house.supplemental_area * 1)"></span> m<sup>2</sup>
              <small>(<span ng-bind="active_house.living_area"></span> Bo + <span ng-bind="active_house.supplemental_area ? active_house.supplemental_area : 0"></span> Bi)</small>
            </td>
          </tr>
          <tr>
            <th>Tomt:</th>
            <td>
              <span ng-bind="active_house.land_area | number:0"></span> m<sup>2</sup>
            </td>
          </tr>
          <tr>
            <th>Rooms:</th>
            <td><span ng-bind="active_house.rooms"></span></td>
          </tr>
          <tr>
            <th>Driftkostnad:</th>
            <td><span ng-bind="active_house.driftkostnad | number:0"></span> kr/year <small>( <span ng-bind="active_house.driftkostnad / 12 | number:0"></span> kr/month)</small></td>
          </tr>
          <tr>
            <th>Construction:</th>
            <td><span ng-bind="active_house.construction_year"></span></td>
          </tr>
          <tr>
            <th>Tenure:</th>
            <td><span ng-bind="active_house.tenure"></span></td>
          </tr>
        </table>

        <div class="row my-5 house_ratings">
          <div ng-repeat="(user_id, rating) in active_house.ratings" class="col-6">
            <h5>{{ rating.user_name }}</h5>
            <div class="btn-group d-flex" role="group">
              <button ng-click="save_rating(user_id, 'yes')" ng-class="{'active': active_house.ratings[user_id].rating == 'yes'}"  class="btn w-100 btn-outline-success"><i class="fa fa-thumbs-up"></i></button>
              <button ng-click="save_rating(user_id, 'maybe')" ng-class="{'active': active_house.ratings[user_id].rating == 'maybe'}"  class="btn w-100 btn-outline-info"><i class="fa fa-question"></i></button>
              <button ng-click="save_rating(user_id, 'no')" ng-class="{'active': active_house.ratings[user_id].rating == 'no'}"  class="btn w-100 btn-outline-danger"><i class="fa fa-thumbs-down"></i></button>
            </div>
            <textarea ng-model="active_house.comments[user_id].comment" ng-change="save_comment(user_id)" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }" class="form-control form-control-sm my-2" placeholder="Comment"></textarea>
          </div>
          <div class="col-12">
            <h6>Tags</h6>
            <button ng-repeat="(tag_id, tag) in active_house.tags" ng-click="save_tag(tag_id)" ng-class="{'active': tag.selected}" class="btn btn-outline-secondary p-1 mr-2 mb-2" style="font-size: .7rem;">{{tag.label}}</button>
          </div>
        </div>
        <p class="p-3 mb-2 bg-success text-white" style="display:none;" id="saving_ratings_notification">Saving ratings..</p>
      </div>
    </div>
    <footer>
        Hemnet-Commuter was written by <a href="http://phil.ewels.co.uk">Phil Ewels</a>. It is in no way connected with, or endorsed by,
        <a href="https://www.hemnet.se">hemnet.se</a>.<br>
        The code for this website is released with the MIT open-source licence and can be
        viewed on GitHub: <a href="https://github.com/ewels/hemnet-commuter">https://github.com/ewels/hemnet-commuter</a>.
    </footer>
  </div>
</div>

</body>
</html>
