<!DOCTYPE html>
<html lang="en" ng-app="hemnetCommuterApp">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="favicon.ico">

  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-animate.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-touch.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-cookies.js"></script>
  <!-- Leaflet -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
  <!-- Leaflet Extra Markers -->
  <script src="https://cdn.jsdelivr.net/npm/leaflet-extra-markers@1.2.1/dist/js/leaflet.extra-markers.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-extra-markers@1.2.1/dist/css/leaflet.extra-markers.min.css">
  <!-- Angular Simple Logger -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-simple-logger/0.1.7/angular-simple-logger.min.js"></script>
  <!-- Angular UI for Leaflet -->
  <script src="https://cdn.jsdelivr.net/npm/ui-leaflet@1.0.3/dist/ui-leaflet.min.js"></script>
  <!-- UI Boostrap 4 for Angular -->
  <script src="https://unpkg.com/ui-bootstrap4@3.0.6/dist/ui-bootstrap-tpls.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/ui-bootstrap4@3.0.6/dist/ui-bootstrap-csp.css" />
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <!-- FontAwesome -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <!-- Chroma-JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.0/chroma.min.js" integrity="sha512-yocoLferfPbcwpCMr8v/B0AB4SWpJlouBwgE0D3ZHaiP1nuu5djZclFEIj9znuqghaZ3tdCMRrreLoM8km+jIQ==" crossorigin="anonymous"></script>

  <!-- Hemnet Commuter -->
  <script src="app.js"></script>
  <link rel="stylesheet" href="styles.css">

</head>

<body ng-controller="hemnetCommuterController" style="padding:0;" ng-class="{'modal-open': photos_modal}">

<div class="d-flex flex-column h-100">
  <nav class="navbar navbar-light bg-light border-bottom d-lg-none">
    <button ng-click="show_detail = true" ng-hide="sidebar || show_detail" class="navbar-toggler" type="button">
      <i  class="fa fa-map-marker"></i>
    </button>
    <button ng-click="sidebar = false; show_detail = false" ng-show="sidebar || show_detail" class="navbar-toggler" type="button">
      <i class="fa fa-map-o"></i>
    </button>
    <div class="navbar-brand mr-0">
      <i ng-show="update_results_call_active || commute_map_call_active" class="fa fa-spinner fa-pulse fa-fw text-success"></i>
      Hemnet Commuter
      <img src="hemnet_commuter.svg" class="d-inline ml-2" style="width: 30px; margin-top:-5px;">
    </div>
  </nav>
  <div class="row mr-0 flex-fill h-100" style="position:relative;">
    <div ng-class="show_detail ? 'd-none d-lg-block' : ''; !sidebar ? 'col-lg-8' : 'd-none d-lg-block col-lg-4'" class="px-0 order-2">
      <leaflet bounds="map.bounds" lf-center="map.center" event-broadcast="map.events" markers="map.markers" layers="map.layers" controls="map.controls" style="position: absolute; top: 0; bottom: 0; width: 100%;"></leaflet>
    </div>
    <div ng-class="show_detail ? 'd-block' : 'd-none d-lg-block'" class="col-lg-4 pr-0 order-1 h-100 overflow-auto">
      <div class="container pt-md-3">
        <h1 class="h2 d-none d-md-inline">
          <img ng-hide="update_results_call_active || commute_map_call_active" src="hemnet_commuter.svg" class="float-right" style="width: 40px; margin-top:-5px;">
          <i ng-show="update_results_call_active || commute_map_call_active" class="fa fa-spinner fa-pulse fa-fw float-right text-success"></i>
          Hemnet Commuter
        </h1>
        <p ng-show="missing_geo.length > 0" class="small text-danger">Missing location for {{missing_geo.length}} houses! Fix on the <a href="update.php">update page</a>.</p>
        <div ng-show="error_msg" class="alert alert-danger">
          <button ng-click="error_msg = false" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="alert-heading">Error</h4>
          <p class="small">{{ error_msg }}</p>
        </div>
        <button ng-show="needs_update" ng-click="update_hemnet_results()" ng-class="{'disabled': hemnet_results_updating}" class="btn btn-block btn-warning mb-2">
          <i class="fa fa-refresh mr-2" ng-class="{'fa-spin': hemnet_results_updating}"></i>
          {{ hemnet_results_update_btn_text }}
        </button>
        <p class="small text-muted my-2">
          <span ng-show="update_results_call_active">Loading houses..</span>
          <span ng-show="commute_map_call_active">Loading commute map..</span>
          <span ng-show="!update_results_call_active && !commute_map_call_active" ng-class="active_id == false ? 'd-inline' : 'd-none d-md-inline'">
            Showing <span ng-bind="num_results" class="badge badge-secondary"></span> out of <span ng-bind="num_total_results" class="badge badge-secondary"></span> houses.
            &nbsp; <a title="Click to toggle update button" href="#" ng-click="needs_update = !needs_update" class="text-muted">Last updated {{ oldest_fetch | date: 'EEE d MMM HH:mm' }}.</a>
          </span>
        </p>

        <!-- INFO WHEN NO ACTIVE HOUSE -->
        <div ng-show="active_id == false" class="text-muted pt-3 mt-3 border-top">Click a house marker on the map to see more information here.</div>

        <!-- ACTIVE HOUSE DETAILS -->
        <div ng-hide="active_id == false" class="pt-md-3 mt-md-3 border-top no-mobile-border">
          <h3 class="mb-4 clearfix">
            <span ng-bind="active_house.title"></span>
            <span class="float-right">
              <span class="badge" ng-class="{'badge-success': active_house.askingPrice < 4000000, 'badge-primary': active_house.askingPrice > 4000000 && active_house.askingPrice < 5700000, 'badge-danger': active_house.askingPrice > 5700000}">
                <span ng-bind="active_house.askingPrice / 1000000 | number:3"></span> MKr
              </span>
            </span>
          </h3>
          <h4 ng-show="active_house.isNewConstruction == 1 || active_house.isUpcoming == 1 || active_house.isBiddingOngoing == 1" class="clearfix">
            <span ng-show="active_house.isNewConstruction == 1" class="badge badge-light border text-secondary"><i class="fa fa-certificate mr-2" aria-hidden="true"></i>New production</span>
            <span ng-show="active_house.isUpcoming == 1" class="badge badge-success"><i class="fa fa-bolt mr-2" aria-hidden="true"></i>Kommande</span>
            <span ng-show="active_house.isBiddingOngoing == 1" class="badge badge-info" style="background-color: #67458c;"><i class="fa fa-gavel mr-2" aria-hidden="true"></i> Bidding is ongoing</span>
          </h4>

          <!-- Buttons - first row -->
          <div class="form-row mb-3">
            <div class="col-4">
              <a ng-href="{{active_house.listingHemnetUrl}}" ng-class="{'disabled': !active_house.listingHemnetUrl}" target="_blank" class="btn btn-block btn-primary" style="white-space: nowrap; overflow: hidden;">
                <i class="fa fa-home mr-2"></i> Hemnet
              </a>
            </div>
            <div class="col-4">
              <a ng-href="{{active_house.listingBrokerUrl}}" ng-class="{'disabled': !active_house.listingBrokerUrl}" target="_blank" class="btn btn-block btn-success" style="white-space: nowrap; overflow: hidden;">
                <i class="fa fa-bookmark mr-2" id="commute_icon"></i> Broker
              </a>
            </div>
            <div class="col-4">
              <button ng-click="photos_modal = true" ng-disabled="active_house.carousel.length == 0" class="btn btn-block btn-secondary" style="white-space: nowrap; overflow: hidden;">
                <i class="fa fa-picture-o mr-2"></i> Photos
              </button>
            </div>
          </div>

          <!-- Buttons - maps -->
          <div class="form-row mb-3">
            <!-- Have to use the old style URLs to get satellite + a marker -->
            <div class="col-3"><a ng-href="http://maps.google.com/maps?t=k&q=loc:{{active_house.lat}}+{{active_house.lng}}&z=23" target="_blank" class="btn btn-sm btn-block btn-outline-primary" style="overflow:hidden;">
              <small style="white-space: nowrap;"><i class="fa fa-google mr-1"></i> Maps</a></small>
            </div>
            <div class="col-3"><a ng-href="http://maps.google.com/maps?layer=c&cbll={{active_house.lat}},{{active_house.lng}}" target="_blank" class="btn btn-sm btn-block btn-outline-info" style="overflow:hidden;">
              <small style="white-space: nowrap;"><i class="fa fa-google mr-1"></i> Street View</a></small>
            </div>
            <div class="col-3"><a ng-href="http://maps.apple.com/?ll={{active_house.lat}},{{active_house.lng}}&z=19&q={{active_house.streetAddress}}" target="_blank" class="btn btn-sm btn-block btn-outline-dark" style="overflow:hidden;">
              <small style="white-space: nowrap;"><i class="fa fa-apple mr-1"></i> Maps</a></small>
            </div>
            <div class="col-3"><a ng-href="api/link_lantmateriet.php?lat={{active_house.lat}}&lng={{active_house.lng}}&z=16" target="_blank" class="btn btn-sm btn-block btn-outline-danger" style="overflow:hidden;">
              <small style="white-space: nowrap;"><i class="fa fa-compass mr-1"></i> Lantmäteriet</a></small>
            </div>
          </div>

          <!-- IMAGE SLIDER -->
          <div uib-carousel no-transition="true" active="carousel_idx" class="mb-5">
            <div uib-slide ng-repeat="slide in active_house.carousel track by slide.id" index="slide.id">
              <img ng-src="{{slide.image}}" class="m-auto" style="max-height: 300px;">
            </div>
          </div>

          <table class="table table-sm small table-hover">
            <tr>
              <th width="50%">Area:</th>
              <td>{{ active_house.area }} / {{ active_house.legacyPrimaryLocation }}</td>
            </tr>
            <tr>
              <th>Days on hemnet:</th>
              <td>
                <span ng-bind="active_house.daysOnHemnet"></span>
              </td>
            </tr>
            <tr>
              <th style="white-space: nowrap;">Upcoming viewings:</th>
              <td>
                <span ng-show="active_house.nextOpenHouse === null">No</span>
                <p ng-show="isArray(active_house.upcomingOpenHouses) && active_house.upcomingOpenHouses.length > 0" ng-repeat="open_house in active_house.upcomingOpenHouses track by $index" class="mb-0">{{ open_house * 1000.00 | date: 'EEE d MMM, HH:mm' }}</p>
              </td>
            </tr>
            <tr>
              <th>Size:</th>
              <td>
                {{ active_house.size_total }} m<sup>2</sup>
                <small>({{ active_house.livingArea }} Bo <span ng-show="active_house.supplementalArea > 0">+ {{ active_house.supplementalArea }} Bi</span>)</small>
              </td>
            </tr>
            <tr>
              <th>Plot:</th>
              <td>{{ active_house.formattedLandArea }}</td>
            </tr>
            <tr>
              <th>Rooms:</th>
              <td>{{ active_house.numberOfRooms }}</td>
            </tr>
            <tr>
              <th>Floor:</th>
              <td>{{ active_house.floor }} of {{ active_house.storeys }}</td>
            </tr>
            <tr ng-show="active_house.runningCosts > 0">
              <th>Operating cost:</th>
              <td>{{ active_house.runningCosts | number:0 }} kr/year <small>( <span ng-bind="active_house.runningCosts / 12 | number:0"></span> kr/month)</small></td>
            </tr>
            <tr ng-repeat="(commute_id, commute) in commute_locations">
              <th ng-bind="commute.nickname"></th>
              <td>
                <a ng-href="https://www.google.se/maps/preview?saddr={{active_house.lat}},{{active_house.lng}}&daddr={{commute.lat}},{{commute.lng}}&dirflg=r" target="_blank" ng-class="['badge', {'badge-success': active_house.commute_times[commute_id].pass_threshold, 'badge-danger': !active_house.commute_times[commute_id].pass_threshold}]">
                  <span ng-if="active_house.commute_times[commute_id].status == 'OK'">{{active_house.commute_times[commute_id].duration_text}}</span>
                  <span ng-if="active_house.commute_times[commute_id].status != 'OK'">{{active_house.commute_times[commute_id].status}}</span>
                  &nbsp; <i class="fa fa-external-link" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
            <tr>
              <th>Construction:</th>
              <td>{{ active_house.legacyConstructionYear }}</td>
            </tr>
            <tr>
              <th>Tenure:</th>
              <td>{{ active_house.tenure.name }}</td>
            </tr>
          </table>

          <div class="btn-group btn-group-sm border float-right ml-3 mb-1" role="group">
            <button type="button" class="btn btn-light disabled"><i class="fa fa-language" aria-hidden="true"></i></button>
            <button type="button" ng-class="{'active': !translate_description}" ng-click="translate_description = false" class="btn btn-light">sv</button>
            <button type="button" ng-class="{'active': translate_description}" ng-click="translate_description = true" class="btn btn-light">{{ translate_target_language }}</button>
          </div>
          <p ng-show="!translate_description" class="small text-muted" style="white-space: pre-wrap;">{{ active_house.description }}</p>
          <p ng-show="translate_description" class="small text-muted" style="white-space: pre-wrap;">{{ active_house.description_translatedText || active_house.description }}</p>

          <div class="row my-5 house_ratings">
            <div ng-repeat="(user_id, user_name) in users" class="col-6">
              <h5>{{ user_name }}</h5>
              <div class="btn-group d-flex" role="group">
                <button ng-click="save_rating(user_id, 'yes')" ng-class="{'active': active_house.ratings[user_id] == 'yes'}" class="btn w-100 btn-outline-success"><i class="fa fa-thumbs-up"></i></button>
                <button ng-click="save_rating(user_id, 'maybe')" ng-class="{'active': active_house.ratings[user_id] == 'maybe'}" class="btn w-100 btn-outline-info"><i class="fa fa-question"></i></button>
                <button ng-click="save_rating(user_id, 'no')" ng-class="{'active': active_house.ratings[user_id] == 'no'}" class="btn w-100 btn-outline-danger"><i class="fa fa-thumbs-down"></i></button>
              </div>
              <textarea ng-model="active_house.comments[user_id]" ng-change="save_comment(user_id)" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }" class="form-control form-control-sm my-2" placeholder="Comment" rows="15"></textarea>
            </div>
            <div class="col-12">
              <h6>
                Tags
                <button ng-click="add_tag()" class="btn btn-sm btn-link text-muted" style="font-size: .7rem;">[add tag]</button>
              </h6>
              <button ng-repeat="(tag_id, selected) in active_house.tags" ng-click="save_tag(tag_id)" ng-class="{'active': selected}" class="btn btn-outline-secondary p-1 mr-2 mb-2" style="font-size: .7rem;">{{tags[tag_id]}}</button>
            </div>
          </div>
          <p class="p-3 mb-2 bg-success text-white" style="display:none;" id="saving_ratings_notification">Saving ratings..</p>
        </div>
        </div>
      </div>

    <!-- RIGHT SIDEBAR -->
    <div ng-class="!sidebar ? 'd-none' : 'col-lg-4'" class="order-3 h-100 overflow-auto d-none d-lg-block">

      <!-- RECENT RATINGS -->
      <div ng-show="sidebar == 'recent_ratings'" class="pt-3">
        <h3 class="text-success"><i class="fa fa-clock-o mr-1"></i> Recent Ratings</h3>
        <div class="row border-bottom pb-2 mb-2">
          <div class="col-6">
            <select class="custom-select" ng-model="recent_ratings_filter_user" ng-change="update_recent_ratings()">
              <option value="">Everyone</option>
              <option ng-repeat="(user_id, user_name) in users" value="{{ user_id }}">{{ user_name }}</option>
            </select>
          </div>
          <div class="col-6">
            <select class="custom-select" ng-model="recent_ratings_filter_type" ng-change="update_recent_ratings()">
              <option value="">All rating types</option>
              <option value="yes">Yes</option>
              <option value="maybe">Maybe</option>
              <option value="no">No</option>
            </select>
          </div>
        </div>
        <div ng-repeat="rating in recent_ratings" class="border-bottom mb-2" ng-click="recent_ratings_click(rating.house_id)">
          <div class="row">
            <div class="col-2 text-center">
              <span class="rounded-circle d-block py-2 bg-success" ng-show="rating.rating == 'yes'" style="width: 4rem; height: 4rem;"><i class="fa fa-thumbs-up fa-3x fa-fw text-white"></i></span>
              <span class="rounded-circle d-block py-2 bg-info" ng-show="rating.rating == 'maybe'" style="width: 4rem; height: 4rem;"><i class="fa fa-question fa-3x fa-fw text-white"></i></span>
              <span class="rounded-circle d-block py-2 bg-danger" ng-show="rating.rating == 'no'" style="width: 4rem; height: 4rem;"><i class="fa fa-thumbs-down fa-3x fa-fw text-white"></i></span>
              <h5 class="my-2"><span class="badge badge-secondary">{{ users[rating.user_id] }}</span></h5>
            </div>
            <div class="col-10">
              <span class="small text-muted float-right">{{ results[rating.house_id].created * 1000 | date:'EEE d MMM HH:mm' }}</span>
              <h6>{{ results[rating.house_id].address }}</h6>
              <div class="row">
                <div class="col-4">
                  <img ng-src="{{ results[rating.house_id].image_url }}" class="w-100 mb-2">
                </div>
                <div class="col-8">
                  <p class="small mb-0" ng-show="results[rating.house_id].comments[rating.user_id].length">
                    {{ results[rating.house_id].comments[rating.user_id] }}</p>
                  <p class="small"><span class="badge badge-light font-weight-normal border mr-1" ng-repeat="(tag_id, is_selected) in results[rating.house_id].tags" ng-show="is_selected">{{ tags[tag_id] }}</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- FILTERS -->
      <div ng-show="sidebar == 'filters'" class="pt-3">
        <h3 class="text-success"><i class="fa fa-filter mr-1"></i> Filters</h3>

        <h6>Ratings</h6>
        <p>Click to hide houses that are any of the following:</p>
        <table class="table table-sm">
          <tr ng-class="{'filter-inactive': filters.min_combined_rating_score == num_users * -1}">
            <th><label for="filters_min_combined_rating_score">Min combined rating score</label></th>
            <td colspan="4">
              <select id="filters_min_combined_rating_score" ng-model="filters.min_combined_rating_score" ng-change="update_results()" class="custom-select custom-select-sm">
                <option ng-repeat="(user_id, user_name) in users" value="{{ num_users - $index }}">+{{ num_users - $index }}</option>
                <option value="0">0</option>
                <option ng-repeat="(user_id, user_name) in users" value="{{ ($index * -1) - 1 }}">{{ ($index * -1) - 1 }}</option>
              </select>
            </td>
          </tr>
          <tr ng-class="{'filter-inactive': filters.min_num_ratings === '0'}">
            <th><label for="filters_min_num_ratings">Min number of ratings</label></th>
            <td colspan="4">
              <select id="filters_min_num_ratings" ng-model="filters.min_num_ratings" ng-change="update_results()" class="custom-select custom-select-sm">
                <option>2</option>
                <option>1</option>
                <option>0</option>
              </select>
            </td>
          </tr>
          <tr ng-repeat="(user_id, user_name) in users" ng-class="{'filter-inactive': !filters.hide_ratings[user_id]['yes'] && !filters.hide_ratings[user_id]['maybe'] && !filters.hide_ratings[user_id]['no'] && !filters.hide_ratings[user_id]['not_set'] }">
            <th>{{ user_name }}</th>
            <td class="px-2">
              <input class="form-check-input" type="checkbox" id="rating_yes_{{user_id}}" ng-model="filters.hide_ratings[user_id].yes" ng-change="update_results()">
              <label class="form-check-label" for="rating_yes_{{user_id}}">Yes</label>
            </td>
            <td class="px-2">
              <input class="form-check-input" type="checkbox" id="rating_maybe_{{user_id}}" ng-model="filters.hide_ratings[user_id].maybe" ng-change="update_results()">
              <label class="form-check-label" for="rating_maybe_{{user_id}}">Maybe</label>
            </td>
            <td class="px-2">
              <input class="form-check-input" type="checkbox" id="rating_no_{{user_id}}" ng-model="filters.hide_ratings[user_id].no" ng-change="update_results()">
              <label class="form-check-label" for="rating_no_{{user_id}}">No</label>
            </td>
            <td class="px-2">
              <input class="form-check-input" type="checkbox" id="rating_not_set_{{user_id}}" ng-model="filters.hide_ratings[user_id].not_set" ng-change="update_results()">
              <label class="form-check-label" for="rating_not_set_{{user_id}}">Not set</label>
            </td>
          </tr>
          <tr>
            <th>has tag: </th>
            <td class="px-2" ng-repeat="(tag_id, _) in tags">
              <button
                class="btn btn-outline-secondary p-1 mr-2 mb-2"
                style="font-size: .7rem;"
                ng-click="toggle_tag_filter(tag_id)"
                ng-class="{'active': filters.tags.includes(tag_id)}"
              >
                  {{tags[tag_id]}}
                </button>
            </td>
          </tr>

        </table>

        <h6>Commute time thresholds</h6>
        <table class="table table-sm">
          <tr ng-repeat="(commute_id, commute) in commute_locations" ng-class="{'filter-inactive': filters.hide_failed_commutes[commute_id] == '0' }">
            <td class="small">{{ commute.nickname }}</td>
            <td colspan="3">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="hide_failed_commute_{{commute_id}}" ng-model="filters.hide_failed_commutes[commute_id]" ng-change="update_results()">
                <label class="custom-control-label" for="hide_failed_commute_{{commute_id}}">Hide failing</label>
              </div>
            </td>
          </tr>
        </table>

        <h6>Basic stats</h6>
        <table class="table table-sm">
          <tr ng-class="{'filter-inactive': filters.kommande == 0}">
            <th><label for="filters_kommande">Kommande</label></th>
            <td colspan="3">
              <select id="filters_kommande" ng-model="filters.kommande" ng-change="update_results()" class="custom-select custom-select-sm">
                <option value="0">--</option>
                <option value="1">Show only Kommande</option>
                <option value="-1">Hide Kommande</option>
              </select>
            </td>
          </tr>
          <tr ng-class="{'filter-inactive': filters.bidding == 0}">
            <th><label for="filters_bidding">Bidding</label></th>
            <td colspan="3">
              <select id="filters_bidding" ng-model="filters.bidding" ng-change="update_results()" class="custom-select custom-select-sm">
                <option value="0">--</option>
                <option value="1">Show only Bidding</option>
                <option value="-1">Hide Bidding</option>
              </select>
            </td>
          </tr>
          <tr ng-class="{'filter-inactive': filters.price_min == stats.price_min && filters.price_max == stats.price_max}">
            <th><label for="price_min">Price <small>(kr)</small></label></th>
            <td>
              <div class="input-group input-group-sm">
                <div class="input-group-prepend"><span class="input-group-text">Min</span></div>
                <input type="text" ng-model="filters.price_min" ng-model-options="{debounce: {'default': 200}}" ng-blur="update_results()" id="price_min" class="form-control form-control-sm">
              </div>
            </td>
            <td>
              <div class="input-group input-group-sm">
                <div class="input-group-prepend"><span class="input-group-text">Max</span></div>
                <input type="text" ng-model="filters.price_max" ng-model-options="{debounce: {'default': 200}}" ng-blur="update_results()" id="price_max" class="form-control form-control-sm">
              </div>
            </td>
            <td><button class="btn btn-sm btn-light border text-secondary" title="Reset filter" ng-click="filters.price_min = stats.price_min; filters.price_max = stats.price_max" ng-disabled="filters.price_min == stats.price_min && filters.price_max == stats.price_max"><span class="fa fa-trash"></span></button></td>
          </tr>
          <tr ng-class="{'filter-inactive': filters.size_total_min == stats.size_total_min && filters.size_total_max == stats.size_total_max}">
            <th><label for="size_total_min">Size <small style="white-space: nowrap;">(Bo + Bi)</small></label></th>
            <td>
              <div class="input-group input-group-sm">
                <div class="input-group-prepend"><span class="input-group-text">Min</span></div>
                <input type="text" ng-model="filters.size_total_min" ng-model-options="{debounce: {'default': 200}}" ng-blur="update_results()" id="size_total_min" class="form-control form-control-sm">
              </div>
            </td>
            <td>
              <div class="input-group input-group-sm">
                <div class="input-group-prepend"><span class="input-group-text">Max</span></div>
                <input type="text" ng-model="filters.size_total_max" ng-model-options="{debounce: {'default': 200}}" ng-blur="update_results()" id="size_total_max" class="form-control form-control-sm">
              </div>
            </td>
            <td><button class="btn btn-sm btn-light border text-secondary" title="Reset filter" ng-click="filters.size_total_min = stats.size_total_min; filters.size_total_max = stats.size_total_max" ng-disabled="filters.size_total_min == stats.size_total_min && filters.size_total_max == stats.size_total_max"><span class="fa fa-trash"></span></button></td>
          </tr>
          <tr ng-class="{'filter-inactive': filters.size_tomt_min == stats.size_tomt_min && filters.size_tomt_max == stats.size_tomt_max}">
            <th><label for="size_tomt_min">Tomt <small>(m<sup>2</sup>)</small></label></th>
            <td>
              <div class="input-group input-group-sm">
                <div class="input-group-prepend"><span class="input-group-text">Min</span></div>
                <input type="text" ng-model="filters.size_tomt_min" ng-model-options="{debounce: {'default': 200}}" ng-blur="update_results()" id="size_tomt_min" class="form-control form-control-sm">
              </div>
            </td>
            <td>
              <div class="input-group input-group-sm">
                <div class="input-group-prepend"><span class="input-group-text">Max</span></div>
                <input type="text" ng-model="filters.size_tomt_max" ng-model-options="{debounce: {'default': 200}}" ng-blur="update_results()" id="size_tomt_max" class="form-control form-control-sm">
              </div>
            </td>
            <td><button class="btn btn-sm btn-light border text-secondary" title="Reset filter" ng-click="filters.size_tomt_min = stats.size_tomt_min; filters.size_tomt_max = stats.size_tomt_max" ng-disabled="filters.size_tomt_min == stats.size_tomt_min && filters.size_tomt_max == stats.size_tomt_max"><span class="fa fa-trash"></span></button></td>
          </tr>
          <tr ng-class="{'filter-inactive': filters.days_on_hemnet_min == stats.days_on_hemnet_min && filters.days_on_hemnet_max == stats.days_on_hemnet_max}">
            <th><label for="days_on_hemnet_max">Days on Hemnet</label></th>
            <td>
              <div class="input-group input-group-sm">
                <div class="input-group-prepend"><span class="input-group-text">Min</span></div>
                <input type="text" ng-model="filters.days_on_hemnet_min" ng-model-options="{debounce: {'default': 200}}" ng-blur="update_results()" id="days_on_hemnet_min" class="form-control form-control-sm">
              </div>
            </td>
            <td>
              <div class="input-group input-group-sm">
                <div class="input-group-prepend"><span class="input-group-text">Max</span></div>
                <input type="text" ng-model="filters.days_on_hemnet_max" ng-model-options="{debounce: {'default': 200}}" ng-blur="update_results()" id="days_on_hemnet_max" class="form-control form-control-sm">
              </div>
            </td>
            <td><button class="btn btn-sm btn-light border text-secondary" title="Reset filter" ng-click="filters.days_on_hemnet_min = stats.days_on_hemnet_min; filters.days_on_hemnet_max = stats.days_on_hemnet_max" ng-disabled="filters.days_on_hemnet_min == stats.days_on_hemnet_min && filters.days_on_hemnet_max == stats.days_on_hemnet_max"><span class="fa fa-trash"></span></button></td>
          </tr>
          <tr ng-class="{'filter-inactive': filters.has_upcoming_open_house == 0}">
            <th><label for="filters_has_upcoming_open_house">Visnings</label></th>
            <td colspan="3">
              <select id="filters_has_upcoming_open_house" ng-model="filters.has_upcoming_open_house" ng-change="update_results()" class="custom-select custom-select-sm">
                <option value="0">--</option>
                <option value="1">Show only houses with upcoming visnings</option>
                <option value="-1">Hide houses with upcoming visnings</option>
              </select>
            </td>
          </tr>
          <tr ng-class="{'filter-inactive': filters.open_house_before == ''}">
            <th><label for="open_house_before">Has visning before</label></th>
            <td colspan="3">
              <input type="text" ng-model="filters.open_house_before" ng-model-options="{debounce: {'default': 200}}" ng-blur="update_results()" id="open_house_before" class="form-control form-control-sm">
              <small class="text-muted"><em>Any date or time, e.g. <u ng-click="filters.open_house_before = 'Midnight next Tuesday'; update_results()">Midnight next Tuesday</u></em>. See <a href="https://www.php.net/manual/en/datetime.formats.php" target="_blank">docs</a>.</small>
            </td>
          </tr>
          <tr ng-class="{'filter-inactive': filters.open_house_after == ''}">
            <th><label for="open_house_after">Has visning after</label></th>
            <td colspan="3">
              <input type="text" ng-model="filters.open_house_after" ng-model-options="{debounce: {'default': 200}}" ng-blur="update_results()" id="open_house_after" class="form-control form-control-sm">
              <small class="text-muted"><em>Any date or time, e.g. <em>"Oct 14th at 14:45"</em>. See <a href="https://www.php.net/manual/en/datetime.formats.php" target="_blank">docs</a>.</small>
            </td>
          </tr>
        </table>
      </div>

      <!-- MAP SETTINGS -->
      <div ng-show="sidebar == 'map'" class="pt-3">
        <h3 class="text-success">
          <i class="fa fa-cog"></i> Settings
        </h3>

        <h5 class="mt-4">
          <i class="fa fa-map-marker"></i> Map Markers
        </h5>
        <div class="form-row py-2 small">
          <div class="col-2 my-1">
            <label for="map_settings_marker_colour_icon">Colour + Icon:</label>
          </div>
          <div class="col-10">
            <select id="map_settings_marker_colour_icon" ng-model="map_settings.marker_colour_icon" ng-change="update_marker_col_icon()" class="custom-select custom-select-sm">
              <optgroup ng-repeat="(key,options) in map_setting_selects.marker_colour_icon" label="{{key}}">
                <option ng-repeat="(val, txt) in options" value="{{val}}">{{txt}}</option>
              </optgroup>
            </select>
          </div>
        </div>
        <div class="form-row border-top py-2 small">
          <div class="col-2 my-1">
            <label for="map_settings_marker_colour">Colour:</label>
          </div>
          <div class="col-10">
            <select id="map_settings_marker_colour" ng-model="map_settings.marker_colour" ng-change="update_markers()" class="custom-select custom-select-sm">
              <optgroup ng-repeat="(key,options) in map_setting_selects.marker_colour" label="{{key}}">
                <option ng-repeat="(val, txt) in options" value="{{val}}">{{txt}}</option>
              </optgroup>
            </select>
          </div>
        </div>
        <div class="form-row py-2 border-top small">
          <div class="col-2 my-1">
            <label for="map_settings_marker_icon">Icon:</label>
          </div>
          <div class="col-10">
            <select id="map_settings_marker_icon" ng-model="map_settings.marker_icon" ng-change="update_markers()" class="custom-select custom-select-sm">
              <optgroup ng-repeat="(key,options) in map_setting_selects.marker_icon" label="{{key}}">
                <option ng-repeat="(val, txt) in options" value="{{val}}">{{txt}}</option>
              </optgroup>
            </select>
          </div>
        </div>

        <h5 class="mt-4">
          <i class="fa fa-save"></i> Hemnet Saved Searches
        </h5>

        <div ng-show="!update_saved_searches" class="mb-4">
          <ul>
            <li ng-repeat="saved_search in saved_searches">
              <a href="https://www.hemnet.se/bostader?subscription={{saved_search.search_id}}" target="_blank">{{saved_search.name}}</a>
              <em class="small text-muted ml-3">({{saved_search.created * 1000.0 | date: 'EEE d MMM HH:mm' }})</em>
            </li>
          </ul>
          <p class="small text-muted">Times show when Hemnet Commuter last pulled the search settings from Hemnet.</p>
          <button ng-click="update_saved_searches = true; hemnet_fetch_saved_searches()" class="btn btn-warning mb-4">Updated saved searches</button>
        </div>

        <div ng-show="!hemnet_api_key && update_saved_searches" class="mb-4">
          <p class="small text-muted">To fetch your saved searches from Hemnet, we need you to log in.</p>
          <div class="form-row py-2 border-top small">
            <div class="col-2 my-1">
              <label for="hemnet_email">Email address</label>
            </div>
            <div class="col-10">
              <input type="input" ng-model="hemnet_email" class="form-control" id="hemnet_email">
            </div>
          </div>
          <div class="form-row py-2 border-top border-bottom mb-2 small">
            <div class="col-2 my-1">
              <label for="hemnet_password">Password</label>
            </div>
            <div class="col-10">
              <input type="password" ng-model="hemnet_password" class="form-control" id="hemnet_password">
            </div>
          </div>
          <button class="btn btn-success" ng-click="hemnet_signin()">Sign in to Hemnet</button>
          <p class="small text-muted mt-2">
            This information is not saved to the database and will be forgotten as soon as you close or refresh this web page.
            Only the saved search IDs and details are logged in the DB.
            You need to sign in here and refresh your saved searches each time you update their settings on Hemnet.
          </p>
        </div>

        <div ng-show="hemnet_api_key && update_saved_searches" class="mb-4">
          <p class="small text-muted">Select which saved searches you would like to use. Click update when you're ready.</p>
          <div ng-repeat="saved_search in hemnet_saved_searches" class="custom-control custom-switch mb-2">
            <input type="checkbox" ng-model="saved_search_selected['search_'+saved_search.id]" class="custom-control-input" id="{{saved_search.id}}">
            <label class="custom-control-label" for="{{saved_search.id}}">{{saved_search.name}}</label>
          </div>
          <button ng-click="save_saved_searches()" ng-class="{'disabled': hemnet_results_updating}" class="btn btn-block btn-warning mb-2">
            <i class="fa fa-refresh mr-2" ng-class="{'fa-spin': hemnet_results_updating}"></i>
            {{ hemnet_results_update_btn_text }}
          </button>
        </div>

        <h5 class="mt-4">
          <i class="fa fa-bus mr-2"></i> Commute settings
        </h5>
        <button ng-click="add_commute_location()" class="my-3 btn btn-sm btn-secondary">Add new location</button>
        <div class="form-row mb-2" ng-repeat="(commute_id, commute) in commute_locations">
          <div class="col-auto">
            <button ng-click="delete_commute_address(commute_id)" class="btn btn-sm btn-outline-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
          </div>
          <div class="col">
            <p ng-bind="commute.nickname" class=" my-1"></p>
            <p ng-bind="commute.address" class="small text-muted text-italic my-1"></p>
          </div>
          <div class="col-3">
            <input type="number" class="form-control form-control-sm" placeholder="minutes" ng-model="commute.max_time" ng-change="update_commute_time(commute_id)" ng-model-options="{updateOn: 'blur'}">
            <p class="small text-muted text-italic my-1">(minutes)</p>
          </div>
        </div>
        <p class="small text-muted my-0">Time is max commute time, in minutes</p>

        <h5 class="mt-4">
          <i class="fa fa-user mr-2"></i> Users
        </h5>
        <button ng-click="add_user()" class="my-3 btn btn-sm btn-secondary">Add new user</button>
        <div class="form-row mb-2" ng-repeat="(user_id, user_name) in users">
          <div class="col-auto">
            <button ng-click="delete_user(user_id)" class="btn btn-sm btn-outline-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
          </div>
          <div class="col">
            <p ng-bind="user_name" class="my-1"></p>
          </div>
        </div>

      </div>

      <!-- Visting -->
      <div ng-show="sidebar == 'visiting'" class="pt-3">
        <h3 class="text-success"><i class="fa fa-street-view mr-1"></i> Visting</h3>
        <div ng-repeat="visiting in upcoming_visitings_houses" class="border-bottom mb-2" ng-click="simulateClickOnMarker(visiting.id)">
          <div class="row">
            <div class="col-2 text-center d-flex justify-content-center align-items-center"
            >
              <i ng-class="getIconClasses(visiting.marker.icon)" ng-style="getIconStyles(visiting.marker.icon)"></i>
            </div>
            <div class="col-10 d-flex justify-content-around">
              <div class="row flex-column">
                <h6>{{ visiting.title }}</h6>
                <p>
                  Next Visiting:
                  <span class="mb-0 ml-2">
                    {{ visiting.nextOpenHouse * 1000.00 | date: 'EEE d MMM, HH:mm' }}
                  </span>
                </p>
                <p>
                  All visitings:
                  <span
                    ng-repeat="open_house in visiting.upcomingOpenHouses track by $index" class="mb-0 ml-2">
                    {{ open_house * 1000.00 | date: 'EEE d MMM, HH:mm' }}
                  </span>
                </p>
              </div>

              <!-- <div class="row"> -->
                <div class="col-4">

                  <img ng-src="{{ visiting.image_url }}" class="w-100 mb-2">

                </div>
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer ng-show="show_footer" class="d-flex">
    <div class="flex-fill">
      Hemnet-Commuter was written by <a href="http://phil.ewels.co.uk">Phil Ewels</a>.
      It is in no way connected with, or endorsed by, <a href="https://www.hemnet.se">hemnet.se</a>.
      The code for this website is released with the MIT open-source licence and can be viewed on GitHub:
      <a href="https://github.com/ewels/hemnet-commuter">https://github.com/ewels/hemnet-commuter</a>.
    </div>
    <button ng-click="hide_footer()" class="btn btn-sm btn-outline-secondary py-0" style="opacity:0.6;">
      <i class="fa fa-times"></i>
    </button>
  </footer>
</div>

<!-- Photos modal -->
<div ng-show="photos_modal" class="modal fade show d-block" id="photos_modal" tabindex="-1" aria-labelledby="photos_modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" style="max-width: 95%;">
    <div class="modal-content">
      <div class="modal-header d-none d-lg-block">
        <h2 class="modal-title" id="photos_modalLabel">
          {{ active_house.title }} <br class="d-md-none">
          <small class="text-muted ml-md-4"><small>{{ active_house.area }} / {{ active_house.legacyPrimaryLocation }}</small></small>
        </h2>
        <button ng-click="photos_modal = false" type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="max-height: calc(100vh - 6rem);">
        <div class="container-fluid">
          <div class="row">
            <div ng-show="photos_modal_thumbs" class="d-none d-lg-block col-auto photos_modal_body_col">
              <a ng-repeat="slide in active_house.allImages" ng-href="#modal_photo_{{$index}}">
                <img class="border mb-3 d-block" ng-src="{{slide.original}}" style="width: {{photos_modal_thumbs_width}}px">
              </a>
            </div>
            <div class="col photos_modal_body_col">
              <!-- AngularJS does fancy routing stuff with #links, so hack around it by just calling the id !#whatever -->
              <img class="border mb-3" ng-src="{{slide.original}}" ng-repeat="slide in active_house.allImages" id="!#modal_photo_{{$index}}">
            </div>
            <div ng-show="photos_modal_planritning" class="d-none d-md-block col-auto photos_modal_body_col photos_modal_planritning">
              <a ng-repeat="slide in active_house.allImages" ng-href="#modal_photo_{{$index}}">
                <img ng-show="slide.labels.indexOf('FLOOR_PLAN') !== -1" ng-src="{{slide.original}}" class="mx-auto border mb-3 d-block"  style="width: {{photos_modal_planritning_width}}px">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="d-none d-md-flex justify-content-between modal-footer py-0 py-lg-2">

        <div class="d-none d-lg-block m-0">
          <button ng-click="photos_modal_thumbs = !photos_modal_thumbs" class="btn btn-sm btn-outline-info mr-2" style="white-space: nowrap; overflow: hidden;">
            <i class="fa fa-th mr-2" aria-hidden="true"></i>
            Toggle Thumbnails
          </button>
          <label class="small text-muted" for="modal_thumb_size_slider">Thumbnail size</label>
          <input ng-model="photos_modal_thumbs_width" ng-disabled="!photos_modal_thumbs" type="range" id="modal_thumb_size_slider" min="50" max="800">
        </div>

        <div>
          <label class="small text-muted" for="modal_planritning_width_slider">Planritning size</label>
          <input ng-model="photos_modal_planritning_width" ng-disabled="!photos_modal_planritning" type="range" id="modal_planritning_width_slider" min="100" max="1200">
          <button ng-click="photos_modal_planritning = !photos_modal_planritning" class="btn btn-sm btn-outline-secondary" style="white-space: nowrap; overflow: hidden;">
            <img style="width:20px;" class="mr-2" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzEiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHRpdGxlPlBsYW5yaXRuaW5nPC90aXRsZT48cGF0aCBkPSJNMjkgMGEyIDIgMCAwMTIgMnYyMGEyIDIgMCAwMS0yIDJIMmEyIDIgMCAwMS0yLTJWMmEyIDIgMCAwMTItMmgyN3pNMTEuNzEgMjJINS45OTlMNiAyNGg3LjVsLS4wMDEtLjE4NC0uMDE0LjAxNUwxMS43MSAyMnpNMjkgMkgydjIwaDRsNS43MDktLjAwMS01LjE2My01LjMyNyAxLjM3LTEuNDE1TDE0LjQ1MSAyMkgyOXYtOGgtOS42MjV2NGgtMS45Mzh2LTZIMjlWMnptLTkuNjI1IDB2OGgtMS45MzhWMmgxLjkzOHoiIGZpbGw9IiMzMzMiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==" alt="">
            Toggle Planritning
          </button>
        </div>

        <button ng-click="photos_modal = false" type="button" class="btn btn-sm btn-secondary">Close</button>
      </div>
    </div>
  </div>
</div>
<div ng-show="photos_modal" class="modal-backdrop fade show"></div>

</body>

</html>
