
/**
 * hemnet-commuter
 * https://github.com/ewels/hemnet-commuter
 */

/* Google fonts - Open Sans (to match Hemnet) */
@import url('https://fonts.googleapis.com/css?family=Bitter:700|Open+Sans:400,600');

body, html {
  height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  border-top: 3px solid #39aa35;
  padding-top: 30px;
}
h2, h3, h4, h5, h6 {
  font-family: 'Bitter', serif;
  font-weight: 700;
  color: #454545;
}
.btn {
  font-family: 'Open Sans', sans-serif;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

footer {
  margin-top: 60px;
  border-top: 1px solid #ccc;
  padding: 15px;
  font-size: 0.7rem;
  background-color: #ededed;
  color: #999;
}
footer a {
  color: #999;
  text-decoration: underline;
}


.filter-inactive {
  background-color: #ddd;
  color: #999;
}
.extra-marker .fa-number:before {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.carousel .carousel-control-next-icon,
.carousel .carousel-control-prev-icon {
  filter: brightness(0);
}
.carousel-indicators li {
  opacity: 0.2;
}